.sidebar {
  flex: 0.15;
  height: 100vh;
  padding: 0 10px;
  min-width: 230px;
  color: gray;
  background-color: black;
}

.sidebar_logo {
  margin-right: auto;
  object-fit: contain;
  height: 70px;
  padding: 10px;
}
