.footer {
  position: fixed;
  bottom: 0;
  padding: 20px;
  background-color: #282828;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer_left {
  display: flex;
  align-items: center;
  color: white;
  /* width: 300px; */
  flex: 0.3;
  max-width: 300px;
}
.footer_left > img {
  height: 60px;
  width: 60px;
  background-size: contain;
}
.footer_songInfo {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer_songInfo h4 {
  font-size: 18px;
}

.footer_songInfo p {
  font-size: 14px;
}
.footer_menu {
  flex: 0.4;
  max-width: 300px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex: 0.3;
  max-width: 300px;
}
.MuiSlider-root * {
  color: #1ed15e;
}
.MuiGrid-spacing-xs-2 > .MuiGrid-item {
  padding: 8px;
  display: flex;
  align-items: center;
}

.footer_green {
  color: #1ed15e;
}

.footer_icon:hover,
.footer_green:hover {
  transform: scale(1.2);
  transition: ease-in 0.2s;
}
